{% extends 'evalbase/base.html' %}
{% load eb_tags %}

{% block title %} {{ submission.runtag }} {% endblock %}

{% block content %}
<h4>Submission {{ submission.runtag }}</h4>
<ul>
    <li> Conference: {{ submission.task.conference.longname }} ({{ submission.task.conference.shortname }})</li>
  <li> Task: {{ submission.task.shortname }} </li>
  <li> Submitted by: {{ submission.submitted_by }} </li>
  <li> Organization: {{ submission.org }} </li>
  <li> Date: {{ submission.date }} </li>

</ul>

<h4> Run metadata </h4>

<ul>
  {% for m in metas %}
  <li> {{ fields|get_item:m.key }} : {{ m.value }} </li>
  {% endfor %}
</ul>

    <a href = "{{ submission.file }}" download>Uploaded file</a>

{% endblock %}
