{% extends 'evalbase/base.html' %}

{% block title %} Open Tasks -- {{ conf.shortname }} {% endblock %}

{% block content %}
<ul>
  {% for task in object_list %}
  <li>{{ task.longname }}
  <a href="{% url 'submit' conf.shortname task.shortname %}">(submit)</a>
  {% if task.required %}
  <span class="text-danger">required!</span>
  {% endif %}
  </li>
  {% endfor %}
</ul>

{% if myruns %}
<h2> Runs submitted </h2>
<ul>
  {% for run in myruns %}
  <li> <a href="{% url 'run' conf.shortname run.task.shortname run.runtag %}">{{ run.runtag }}</a> : {{ run.task.shortname }}; on {{ run.date }}; by {{ run.submitted_by }} </li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}
