{% extends 'evalbase/base.html' %}
{% load bootstrap5 %}

{% block title %}Create an organization{% endblock %}

{% block content %}
Complete this form to register to participate in {{ conf.longname }}</p>
<form method="post">
  {% csrf_token %}
  {% bootstrap_field form.shortname show_help=True placeholder='nist' %}
  {% bootstrap_field form.longname show_help=True placeholder='National Institute of Standards and Technology' %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">Create</button>
  {% endbuttons %}
</form>
{% endblock %}
